@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background: $burgundy;
  height: 100vh;
}

.main-container {
  width: 100vw;
}

.glass-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.number {
  position: absolute;
  bottom: 48px;
  font-size: 112px;

}

.button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
    &__add {
    font-size: 36px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    transition: all 0.05s ease-in-out;;
      &:active {
        background: black;
        color: white;
      }
    }
    &__remove {
    color: white;
    background: black;
    padding: 8px;
    margin-top: 36px;
    border: none;
    border-radius: 12px; 
      &:active {
        background: white;
        color: black;
      }
    }
}